.container {
  width: 1000px;
  height: 500px;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;

  border: 1px solid #ccc;
  background-color: #ccc;
}

.item:hover {
  opacity: 0.8;
}
