.container {
  width: 800px;
  height: 800px;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;

  border: 1px solid #ccc;
  background-color: #ccc;
}

.itemContent {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.itemOptions {
  display: flex;
  gap: 10px;
}

.item:hover {
  opacity: 0.8;
}

.folder {
  background-color: #e0f7fa;
}

.document {
  background-color: #fff9c4;
}
