.container {
  width: 800px;
  height: 800px;
  border: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
}

.itam:hover {
  opacity: 0.8;
}

.itemLeft {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.itemOptions {
  display: flex;
  gap: 10px;
}

.folder {
  background-color: #e0f7fa;
}

.document {
  background-color: #fff9c4;
}
